<%- include('partials/header'); %>
<div class="d-flex justify-content-center align-self-center">
<h1>LIBRARY</h1>
</div>
<div class="d-flex justify-content-center align-self-center">
<h3>Choose a option</h3>
</div>
<div class=" d-flex w-100 justify-content-center align-self-center p-3 ">
<a href="/book" class="btn btn-primary w-75">BOOKS</a>
</div>

<div class=" d-flex w-100 justify-content-center align-self-center p-3 ">
    <a href="/reader" class="btn btn-warning w-75">READERS</a>
</div>

<div class=" d-flex w-100 justify-content-center align-self-center p-3 ">
    <a href="/borrow" class="btn btn-dark w-75">LOAN'S BOOKS</a>
</div>

<%- include('partials/footer'); %>